{% extends 'layouts/base.html' %}

{% block content %}

<div class="template-container">
    <h1 class="page-title">{{ title }}</h1>

    <div class="search-bar"><!-- Search bar -->
        <form method="GET" action="">
            {{ form.b_promoter }}
            <button type="submit" class="save-btn">Search</button>
            <button type="button" onclick="window.location.href='{% url 'promoters' %}'" class="save-btn">Clear search</button>
        </form>
    </div>

    <table class="table-container"><!-- Table with all promoters on db -->
        <thead>
            <tr>
                <th><a href="?sort={% if request.GET.sort == 'first_name' %}-first_name{% else %}first_name{% endif %}">First Name</a></th>
                <th><a href="?sort={% if request.GET.sort == 'last_name' %}-last_name{% else %}last_name{% endif %}">Last Name</a></th>
                <th><a href="?sort={% if request.GET.sort == 'area' %}-area{% else %}area{% endif %}">Area</a></th>
                <th><a href="?sort={% if request.GET.sort == 'phone' %}-phone{% else %}phone{% endif %}">Phone</a></th>
                <th>Edit</th>
                <th>Delete</th>
             </tr>
        </thead>
        <tbody>
            {% for promoter in promoters %}
                <tr>
                    <td>{{ promoter.first_name }}</td>
                    <td>{{ promoter.last_name }}</td>
                    <td>{{ promoter.area }}</td>
                    <td>{{ promoter.phone }}</td>
                    <td><!-- Form to edit or delete promoter -->

                        {% if user.is_superuser or user == promoter.user %}
                        <a href="{% url 'edit_promoter' promoter.id %}" class="edit-item">Edit</a>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'delete_promoter' promoter.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-item bi bi-trash" onclick="return confirmDelete()"></button>
                        </form>
                        {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <!-- Button for a new promoter -->
        <a href="{% url 'new_promoter' %}" class="btn-cd">Create promoter</a>
    

</div>
<!-- Script to confirm delete -->
<script>
    function confirmDelete() {
        return confirm("Are you sure you want to delete this promoter?");
    }
</script>

{% endblock %}