{% extends 'layouts/base.html' %}
{% block content %}

<div class="ced-container">
    <h1 class="page-title">{{ title }}</h1>
    <form action="{% url 'edit_reservation' reservation.id %}" method="POST" class="form-ced">
        {% csrf_token %}

        <div class="ced-label">{{ form.customer.label }}</div>
        <div class="ced-cell">{{ form.customer }}</div>

        <div class="ced-label">{{ form.table.label }}</div>
        <div class="ced-cell">{{ form.table }}</div>

        <div class="ced-label">{{ form.guests.label }}</div>
        <div class="ced-cell">{{ form.guests }}</div>

        <div class="ced-label">{{ form.date.label }}</div>
        <div class="ced-cell">{{ form.date }}</div>

        <div class="ced-label">{{ form.promoter.label }}</div>
        <div class="ced-cell">{{ form.promoter }}</div>

        <button class="save-btn">Save</button>
    </form>
</div>

{% endblock %}